<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.perfume.mybatis.MemberMapper">
	
	<select id = "loginCheck" resultType="int">
		select count(*) from tbl_member where id =#{id} and pw = #{pw} and auth !='탈퇴'
	</select>
	
	<insert id = "register">
		insert into tbl_member(id, pw, name, email, phone, birthday, gender)
		values(#{id},#{pw},#{name},#{email},#{phone},#{birthday},#{gender})
	</insert>
	
	<update id="imgUpdate">
		update tbl_member set img = #{img} where id=#{id}
	</update>
	
	<select id="idCheck" resultType="int">
		select count(*) from tbl_member where id = #{id}
	</select>
	
	<select id="userInfo" resultType="com.perfume.beans.MemberDTO">
		select * from tbl_member where id = #{id}
	</select>
	
	<select id="pwCheck" resultType="String">
		select pw from tbl_member where id = #{id}
	</select>
	
	<update id="pwUpdate">
		update tbl_member set pw = #{pw} where id = #{id}
	</update>
	
	<update id="tmpDelete">
		update tbl_member set auth = '탈퇴' where id  = #{id}
	</update>
	
</mapper>
